tqdm
torch==2.0.1+cpu
opencv-python
ffmpegcv
numpy
python_speech_features
scipy
scenedetect
scikit-learn
gdown
torchvision==0.15.2+cpu
pandas
transformers==4.52.3
accelerate
datasets
google-genai
pysubs2
boto3
fastapi[standard]
whisperx==1.4.0